body {
    font-family: Montserrat;
}
.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;    
  }

/* header */

header nav.bg-light {
    background-color: #fff !important;
    padding: 10px 0;
}
.navbar.fixed {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 100%;
    z-index: 999;
}
.top-bar{
    background:#88222f;
  }
  .top-bar p {
    color: #fff;
    margin-bottom: 0px;
}
.top-bar p i {
    margin-right:10px;
}
.top-bar ul {
    gap: 20px;
    padding: 0px;
    display: flex;
    justify-content: end;
    margin: 0;
}
  .top-bar-social li a {
    color: #fff;
}
  .top-bar a{
    color: rgb(28, 28, 28);
    font-size: 15px;
  } 
header .navbar-light .navbar-nav .nav-link {
	color: #000;
    padding-left: 29px;
    font-weight: 500;
}
header .navbar-light .navbar-nav .nav-link.active, header .navbar-light .navbar-nav .show > .nav-link {
    color: #88222f;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #88222f;
}
header .navbar-light .navbar-nav li:last-child a {
    background: #88222f;
    border-radius: 100px;
    padding: 8px 20px;
}
header .navbar-light .navbar-nav li:last-child a:hover {
    color: #fff !important;
}
header .navbar-light .navbar-nav li:last-child a {
    color: #fff;
    margin-left: 30px;
}
.sticky {
	position: fixed;
	top: 0;
	z-index: 99;
	width: 100%;
	padding: 0 !important;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.03);
}
.top-bar ul li {
    list-style: none;
}
header nav.bg-light img {
    width: 150px;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 6.2rem;
    left: -60%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: var(--bs-carousel-caption-color);
    text-align: center;
}
#carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 7.2rem;
    left: -60%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: var(--bs-carousel-caption-color);
    text-align: center;
}
.carousel-caption button.btn.btn-primary {
    padding: 10px 50px;
    background-color: #ff6c31;
    border: none;
}
button.btn.first.btn-primary {
    background-color: #009545;
}

/* Category Section */
/* category */
.category-content-inner {
    display: block;
    gap: 16px;
    box-shadow: rgb(0 0 0 / 10%) 0px 3px 8px;
    padding: 20px;
    align-items: center;
    border-radius: 15px;
}
.category-icon img {
    width: 100%;
}
.category-content h5 {
    font-size: 18px;
    color: #000;   
}
h2.main-heading {
    text-align: center;
    margin-bottom: 50px;
    font-size: 40px;
    text-transform: uppercase;
}
#category .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
    text-align: center;
}
.category-content {
    margin-top: 30px;
}
/* About section */
/* third party */
.about-sec-content a.common-btn {
    background: #88222f;
    color: #fff;
    padding: 8px 20px;
    border-radius: 100px;
    font-size: 16px;
    text-decoration: none;
}
section#about-us h2.main-heading {
    text-align: left;
    margin-bottom: 20px;
    font-size: 40px;
    text-transform: uppercase;
}
.about-btn {
    display: flex;
    margin-top: 30px;
}
/* end of about us  */

/* products slider section */
.shadow-effect {
    box-shadow: 0 0 10px 0px #00000038;
    margin: 10px;
    border-radius: 10px;
    padding: 9px;
}
.owl-carousel .owl-item img {   
    border-radius: 10px 10px 0 0;
}
#customers-testimonials, #hair-product {
	.item-details{		
		color: #000;
		padding: 10px 10px;
		text-align: left;
		h5{
			margin: 0px;
			font-size: 16px;
			line-height: 18px;			
		}		
	}
	.item {
			text-align: center;
			 /* padding: 20px; */
			margin-bottom:80px;
	}
}
section.testimonials h2.main-heading, .hair-range h2.main-heading {
    text-align: center;
    margin-bottom: 40px;
    font-size: 32px;
    text-transform: uppercase;
}
.owl-carousel .owl-nav [class*='owl-'] {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.owl-carousel .owl-nav [class*='owl-'].disabled:hover {
  background-color: #D6D6D6;
}
.owl-carousel {
  position: relative;
}
.owl-carousel .owl-next,
.owl-carousel .owl-prev {
  width: 50px;
  height: 50px;
	line-height: 50px;
	border-radius: 50%;
  position: absolute;
  top: 30%;
	font-size: 20px;
  color: #fff;
	border: 1px solid #ddd;
	text-align: center;
}
.owl-carousel .owl-prev {
  left: -70px;
}
.owl-carousel .owl-next {
  right: -70px;
}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {   
    border: 1px groove !important;   
}
.owl-nav button.owl-prev:hover,
.owl-nav button.owl-next:hover {
  background-color: #88222f !important; /* Change this to your desired color */
  color: #fff !important;  /* Optional: change icon color */
  transition: background-color 0.3s ease;
}




/* Icon section */
section.icons {
    background-color: #f8ede4;
    margin-bottom: 70px;
    padding: 30px 0;
}
section.icons button.owl-prev,section.icons button.owl-next {
    display: none;
}
.container-sm {
    width: 1200px;
}

  /* End star rating */

  /* Review section */
  /* review */
  .award-content-list ul li {
    display: flex;
    background: #fff;
    padding: 20px;
}
.award-content-list ul li {
    display: block;
    background: #fff;
    padding: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-bottom: 10px;
    gap: 12px;
    align-items: center;
    border-radius: 10px;
    text-align: center;
}
.award-content-list ul {
    padding: 0px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
section#awards {
    background: #b28067;
    margin: 10px 0 60px 0;
}
h2.main-title.text-center {
    color: #fff;
    text-transform: uppercase;
}
.award-content {
    padding-bottom: 30px;
}


/* end of review */

/* contact us section */
.contact .info-item i {
    color: #88222f;
    width: 75px;
    height: 75px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    border-radius: 50%;
    border: 2px dotted color-mix(in srgb, #88222f, transparent 40%);
}
.info-item.d-flex.flex-column.justify-content-center.align-items-center.aos-init.aos-animate {
    box-shadow: 0 0 10px 0px #00000038;
    border-radius: 8px;
    padding: 18px;
}
.info-item.d-flex.flex-column.justify-content-center.align-items-center.aos-init.aos-animate a {    
    color: #000;
    text-decoration: none;
    font-size: 16px;
}
div#contact h4 {
    margin-top: 15px;
}
.form-outer {
    background-color: #f8ede4;
    padding: 12px;
    border-radius: 10px;
}
button.btn.btn-theme.font-13 {
    background: #88222f;
    color: #fff;
    padding: 8px 20px;
    border-radius: 100px;
    font-size: 16px;
    text-decoration: none;
}
.g-4, .gy-4 {
    --bs-gutter-y: 3.5rem;
}


  /* end of contact section */

  /* Footer */
/* footer  */
footer#footer {
    background: #151515;
    margin-top: 50px;
}
ul.footer-social {
    padding: 0px;
    display: flex;
    margin: 0;
    gap: 15px;
}
ul.footer-social li {
    background: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 100px;
    list-style: none;
}
.footer-inner h6 {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}
ul.footer-quick.list {
    padding: 0px;
}
ul.footer-quick.list li a i {
    margin-right: 10px;
    color: #fff;
}
ul.footer-quick.list li a {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}

ul.footer-social a {   
    color: #88222f;
}
ul.footer-quick.list li {
    margin-bottom: 14px;
    
}
ul.footer-contact a {   
    text-decoration: none;
}
#footer img {
    background-color: #fff;
    width: 200px;
    padding: 14px;
    border-radius: 5px;
}
#footer ul li {
    list-style: none;
}
ul.footer-social {
    padding: 0px;
    margin-top: 40px;
}
.footer-inner h6 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 24px;
    margin-top: 50px;
}
.copyright-ftr p {   
    color: #fff;
    padding-top: 10px;
}
ul.gallery-foot-img {
    padding: 0px 0px 0 0px;
    margin: 0;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 12px;
    justify-content: left;
}
ul.gallery-foot-img li img {
    width: auto;
}
ul.footer-contact {
    padding: 0px;
    margin: 0;
    display: grid;
}
ul.footer-contact li a {
    color: #fff;
}
ul.footer-contact li {
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
}
ul.footer-contact li i {
    color: #fff;
}
.copyright-ftr {
    border-top: 1px solid #ffffff47;
}




/* end of footer */


/* end of slider */
@media (min-width:768px) {
    .category-content-inner {        
        height: 370px;
    }
    section#awards .col-md-8 {
        flex: auto;
        width: 66.66666667%;
        margin: 0 auto;
    }
}
@media (max-width:767px) {
    #category .col-md-3 {
        flex: 0 0 auto;
        width: 100%;
        text-align: center;      
        margin-top: 30px;
    }
    .g-4, .gy-4 {
        --bs-gutter-y: 1.5rem;
    }
    .col-md-6.frm {
        margin-top: 25px;
    }
    .form-outer {
        background-color: #f8ede4;
        padding: 6px 6px 10px 6px;
        border-radius: 10px;
    }
    div#contact h2.main-heading {
        text-align: center;
        margin-bottom: 40px;
        font-size: 32px;
        text-transform: uppercase;
    }
    .about-img {
        margin-top: 30px;
    }
    section#about-us {
        padding-top: 0px !important;
    }
    .award-content-list ul {
        padding: 0px;
        display: block;
        gap: 20px;
        justify-content: space-between;
    }
    .owl-carousel .owl-stage-outer {
        position: relative;
        overflow: hidden;
        -webkit-transform: translate3d(0,0,0);
    }
    .container-sm {
        width: 100%;
    }
    .owl-carousel .owl-next, .owl-carousel .owl-previous {
        right: 0;
    }
    .owl-carousel .owl-prev {
        left: 0;
        display: block !important;
    }
    section.icons .owl-carousel .owl-prev {
       
        display: none !important;
    }
    #category h2.main-heading {
        text-align: center;
        margin-bottom: 0;
        font-size: 35px;
        text-transform: uppercase;
    }
    section#category {
        padding-top: 40px;
    }
    .top-bar {
        display: none;
    }
    header nav.bg-light img {
        width: 150px;
    }
}

@media (min-width:990px) and (max-width:1550px) {
    #carousel-caption {
        position: absolute;
        right: 15%;
        bottom: 5.2rem;
        left:-55%;
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
        color: var(--bs-carousel-caption-color);
        text-align: center;
    }
    .carousel-caption {
        position: absolute;
        right: 15%;
        bottom: 4.2rem;
        left: -54%;
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
        color: var(--bs-carousel-caption-color);
        text-align: center;
    }
}
